<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil de Gestion de Stock</title>
</head>
<body>
    <h1>Bienvenue sur la Gestion de Stock</h1>

    <p>Ceci est la page d'accueil de notre application de gestion de stock. Vous pouvez ajouter votre contenu personnalisé ici.</p>

    <!-- Exemple de lien vers la page de connexion -->
    <p><a href="{% url 'login' %}">Se connecter</a></p>

    <!-- Exemple de lien vers la page d'inscription -->
    <p><a href="{% url 'signup' %}">S'inscrire</a></p>
</body>
</html>
